<div class="header">
  <div class="container">
    <div class="row">
      <nav class="site-nav">
        <ul>
          {% for link in site.links %}
          <li>
            <a href="{{ site.baseurl }}{{ link.url }}" class="brand">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>


<header class="site-header gradient-bar">

  <h1 class="site-title mega"><a href="{{ site.baseurl }}">
  	<img src="{{ site.baseurl }}/images/pg-logo.png" alt="Pedja Galic Logo">
  </a></h1>

</header>