<nav class="site-nav">
	<ul>
	 <li> 
	 	<a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/index.html">Home</a>
	</li>
	 <li>
	 	<a class="{% if page.url == '/work' %}current{% endif %}" href="{{site.baseurl}}/work.html">Work</a>
	 </li>
	 <li>
	 	<a class="{% if page.url == '/articles' %}current{% endif %}" href="{{site.baseurl}}/articles.html">Articles</a>
	 </li>
	 <li>
	 	<a class="{% if page.url == '/hire-me' %}current{% endif %}" href="{{site.baseurl}}/hire-me.html">Hire Me</a>
	 </li>
	</ul>
</nav>