// Header
.header {
    background: #423C42;
    padding: 2em 0;
}

.site-nav {
    text-align: center;
    text-transform: uppercase;

    ul {
        margin: 0 auto;
        list-style: none;
    }
    li {
        display: inline-block;
        margin: 0 0.5em;
        font-size: 1.5em;
    }

    li.current {
        text-decoration: underline;
    }
    
    a {
        color: #FFFFF1;
        font-weight: 300;
    }

    a:hover {
    text-decoration: none;
    color: #F29879;
    }
}

.site-title a {
    color: #FFFFF1;

    &:hover {
        text-decoration: none;
    }
}
.site-header {
    padding: 2em 0 0;
    border-bottom: 1px solid #ccc;
    background: url("../images/header-bg.png");
    background-size: 400px 400px;
}

// Footer

.site-footer {
    padding: 2em 0;
    color: #FFFFF1;
    background: $footer-color;
}
.footer-content {
    float: left;
    width: 60%;
    font-size: 0.85em;

    h3 {
        text-align: left;
    }
}
.footer-social {
    float: right;

    li {
        display: inline-block;
        margin: 0 0.5em;
    }
}

// Icons
.svg-icon.tw{width:3em;height:3em}.svg-icon.tw path,.svg-icon.tw polygon,.svg-icon.tw rect{fill:#F29879}.svg-icon.tw circle{stroke:#F29879;stroke-width:1}
a .svg-icon.tw :hover{fill:#2C001E;transition:all .1s ease-in-out}

.svg-icon.inst{width:3em;height:3em}.svg-icon.inst path,.svg-icon.inst polygon,.svg-icon.inst rect{fill:#F29879}.svg-icon.inst circle{stroke:#F29879;stroke-width:1}
a .svg-icon.inst :hover{fill:#2C001E;transition:all .1s ease-in-out}

.svg-icon.git{width:3em;height:3em}.svg-icon.git path,.svg-icon.git polygon,.svg-icon.git rect{fill:#F29879}.svg-icon.git circle{stroke:#F29879;stroke-width:1}
a .svg-icon.git :hover{fill:#2C001E;transition:all .1s ease-in-out}

// Sections

.site-section {
    @extend %clearfix;
    padding-top: $h1-font-size;
}

.site-section.last {
    padding-bottom: $h1-font-size;
}







