// Header
.header {
    background: #423C42;
    padding: 2em 0;
}

.site-nav {
    text-align: center;
    text-transform: uppercase;

    ul {
        margin: 0 auto;
        list-style: none;
    }
    li {
        display: inline-block;
        margin: 0 0.5em;
        font-size: 1.5em;
    }

    a {
        color: #FFFFF1;
    }

    a.current {
        text-decoration: underline;
        color: #F29879;
        font-weight: 300;
    }

    a:hover {
    text-decoration: none;
    color: #F29879;
    }
}

.site-title a {
    color: #FFFFF1;

    &:hover {
        text-decoration: none;
    }
}
.site-header {
    padding: 2em 0 0;
    border-bottom: 1px solid #ccc;
    background: url("../images/header-bg.png");
    background-size: 400px 400px;
}

// Footer

.site-footer {
    padding: 1.5em 0;
    background: $grey-color-light;
}
.footer-content {
    float: left;
    width: 60%;
    font-size: 0.85em;

    h5 {
        text-align: left;
    }
}
.footer-social {
    float: right;

    li {
        display: inline-block;
        margin: 0 0.4em;
    }
}

// Icons


// Sections

.site-section {
    @extend %clearfix;
    padding-top: $h1-font-size;
}

.site-section.last {
    padding-bottom: $h1-font-size;
}







